In [228]:
#load python packages
import os
import pandas as pd
import numpy as np
import glob
import datetime

In [2]:
os.getcwd()

'D:\\Yan OneDrive\\OneDrive\\Schooling\\Springboard\\Capstone 2'

In [3]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Data',
 'Data Wrangling.ipynb',
 'Figures',
 'Models']

In [4]:
#change working directory to where the data is
path='D:\\Yan OneDrive\\OneDrive\\Schooling\\Springboard\\Capstone 2\Data'
os.chdir(path)

In [5]:
os.listdir()

['Mobi_System_Data_2017.xlsx',
 'Mobi_System_Data_2018-01.csv',
 'Mobi_System_Data_2018-02.csv',
 'Mobi_System_Data_2018-03.csv',
 'Mobi_System_Data_2018-04.csv',
 'Mobi_System_Data_2018-05.csv',
 'Mobi_System_Data_2018-06.xlsx',
 'Mobi_System_Data_2018-07.xlsx',
 'Mobi_System_Data_2018-08.xlsx',
 'Mobi_System_Data_2018-09.xlsx',
 'Mobi_System_Data_2018-10.xlsx',
 'Mobi_System_Data_2018-11.xlsx',
 'Mobi_System_Data_2018-12.csv',
 'Mobi_System_Data_2019-01.csv',
 'Mobi_System_Data_2019-02.csv',
 'Mobi_System_Data_2019-03.csv',
 'Mobi_System_Data_2019-04.csv',
 'Mobi_System_Data_2019-05.csv',
 'Mobi_System_Data_2019-06.csv',
 'Mobi_System_Data_2019-07.csv',
 'Mobi_System_Data_2019-08.csv',
 'Mobi_System_Data_2019-09.csv',
 'Mobi_System_Data_2019-10.csv',
 'Mobi_System_Data_2019-11.csv',
 'Mobi_System_Data_2019-12.csv',
 'Mobi_System_Data_2020-01.csv',
 'Mobi_System_Data_2020-02.csv',
 'Mobi_System_Data_2020-03.csv',
 'Mobi_System_Data_2020-04.csv',
 'Mobi_System_Data_2020-05.csv',
 'Mobi_System_Data_2020-06.csv']

In [65]:
#Import the working files
csv_files = glob.glob(path+"/*.csv")
xls_files = glob.glob(path+"/*.xlsx")
dfs = []
for filename in csv_files:
    dfs.append(pd.read_csv(filename))
    
for filename in xls_files:
    dfs.append(pd.read_excel(filename))

df = pd.concat(dfs, ignore_index=True)

In [107]:
#refresh data
df = pd.concat(dfs, ignore_index=True)

In [108]:
#Preview the data
df.head()

,Departure,Return,Bike,Departure station,Return station,Formula,Covered distance (m),Duration (sec.),Departure battery voltage (mV),Return battery voltage (mV),...,Stopover duration,Manager,Membership Type,Departure slot,Return slot,Number of bike stopovers,Return temperature (Â°C),Account,Departure temperature (deg C),Return temperature (deg C)
0,2/1/2018 0:00,2/1/2018 0:00,333.0,0093 Chilco & Robson,0032 Comox & Denman,365 Corporate Standard,775.0,184,3860.0,3966.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2/1/2018 0:00,2/1/2018 0:00,378.0,0012 Dunsmuir & Richards,0167 Cordova & Columbia,90 Day,1245.0,341,3706.0,3827.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/1/2018 0:00,2/1/2018 0:00,138.0,0014 Canada Place,0140 Burrard & 7th,365 Day Founding Plus,3979.0,844,3852.0,4032.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2/1/2018 0:00,2/1/2018 0:00,1039.0,0024 Hornby & Pender,0070 10th & Granville,365 Day Founding Standard,4431.0,995,3890.0,4148.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/1/2018 0:00,2/1/2018 0:00,289.0,0089 Burrard & Drake,0148 Quebec & Milross,365 Day Founding Plus,3371.0,823,3769.0,3926.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df.shape

(2438953, 27)

In [75]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Bike,2437817.0,946.197343,2181.957862,0.0,453.0,904.0,1372.0,3278444.00
Covered distance (m),2438953.0,2772.446458,2864.597138,0.0,1153.0,2084.0,3495.0,1102833.33
Duration (sec.),2438953.0,1309.361593,9108.744835,0.0,393.0,695.0,1200.0,9328692.00
Departure battery voltage (mV),2385432.0,3960.258099,186.242931,0.0,3916.0,3993.0,4045.0,4729.00
Return battery voltage (mV),2385432.0,4085.977420,153.063590,0.0,4032.0,4111.0,4175.0,4710.00
Departure temperature (°C),1401035.0,20.075905,7.514245,-7.0,15.0,21.0,25.0,48.00
Return temperature (°C),1368773.0,20.785294,6.746635,-6.0,16.0,22.0,26.0,47.00
Stopover duration (sec.),2376100.0,78.201290,3641.745779,0.0,0.0,0.0,0.0,2068430.00
Number of stopovers,2263061.0,0.039186,0.286868,0.0,0.0,0.0,0.0,13.00
Departure temperature (C),998670.0,17.268387,7.495742,-9.0,11.0,18.0,23.0,47.00
Return temperature (C),998670.0,17.715730,6.951677,-10.0,12.0,18.0,23.0,46.00
Stopover duration,62853.0,72.174773,2555.523965,0.0,0.0,0.0,0.0,508364.00
Departure slot,189058.0,10.468909,7.859329,1.0,4.0,9.0,15.0,52.00
Return slot,189325.0,10.568430,8.002455,1.0,4.0,9.0,15.0,52.00
Number of bike stopovers,175892.0,0.064540,0.437219,0.0,0.0,0.0,0.0,21.00
Return temperature (Â°C),32262.0,9.245304,2.144111,0.0,8.0,9.0,11.0,30.00
Departure temperature (deg C),39248.0,10.853776,3.178319,-2.0,9.0,11.0,13.0,30.00
Return temperature (deg C),39248.0,11.811659,2.917548,0.0,10.0,12.0,14.0,28.00

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438953 entries, 0 to 2438952
Data columns (total 27 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Departure                       object
 1   Return                          object
 2   Bike                            float64
 3   Departure station               object
 4   Return station                  object
 5   Formula                         object
 6   Covered distance (m)            float64
 7   Duration (sec.)                 int64
 8   Departure battery voltage (mV)  float64
 9   Return battery voltage (mV)     float64
 10  Departure temperature (°C)      float64
 11  Return temperature (°C)         float64
 12  Stopover duration (sec.)        float64
 13  Number of stopovers             float64
 14  Membership type                 object
 15  Departure temperature (C)       float64
 16  Return temperature (C)          float64
 17  Stopover duration               float64
 18  Manager                         object
 19  Membership Type                 object
 20  Departure slot                  float64
 21  Return slot                     float64
 22  Number of bike stopovers        float64
 23  Return temperature (Â°C)        float64
 24  Account                         object
 25  Departure temperature (deg C)   float64
 26  Return temperature (deg C)      float64
dtypes: float64(17), int64(1), object(9)
memory usage: 502.4+ MB

In [111]:
#drop unnecessary columns
df.drop(df.columns[[8,9,14,19]], axis = 1 , inplace = True)
df.drop(['Manager','Account', 'Departure slot','Return slot','Formula'],axis=1, inplace=True)

In [112]:
#Review dataframe to see the new structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438953 entries, 0 to 2438952
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Departure                      object
 1   Return                         object
 2   Bike                           float64
 3   Departure station              object
 4   Return station                 object
 5   Covered distance (m)           float64
 6   Duration (sec.)                int64
 7   Departure temperature (°C)     float64
 8   Return temperature (°C)        float64
 9   Stopover duration (sec.)       float64
 10  Number of stopovers            float64
 11  Departure temperature (C)      float64
 12  Return temperature (C)         float64
 13  Stopover duration              float64
 14  Number of bike stopovers       float64
 15  Return temperature (Â°C)       float64
 16  Departure temperature (deg C)  float64
 17  Return temperature (deg C)     float64
dtypes: float64(13), int64(1), object(4)
memory usage: 334.9+ MB

In [113]:
#merge columns that contain the same data but have different headings using fillna
df.iloc[:,7].fillna(df.iloc[:,11],inplace=True)
df.iloc[:,7].fillna(df.iloc[:,16],inplace=True)
df.iloc[:,8].fillna(df.iloc[:,12],inplace=True)
df.iloc[:,8].fillna(df.iloc[:,15],inplace=True)
df.iloc[:,8].fillna(df.iloc[:,17],inplace=True)
df.iloc[:,9].fillna(df.iloc[:,13],inplace=True)
df.iloc[:,10].fillna(df.iloc[:,14],inplace=True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438953 entries, 0 to 2438952
Data columns (total 18 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Departure                      object
 1   Return                         object
 2   Bike                           float64
 3   Departure station              object
 4   Return station                 object
 5   Covered distance (m)           float64
 6   Duration (sec.)                int64
 7   Departure temperature (°C)     float64
 8   Return temperature (°C)        float64
 9   Stopover duration (sec.)       float64
 10  Number of stopovers            float64
 11  Departure temperature (C)      float64
 12  Return temperature (C)         float64
 13  Stopover duration              float64
 14  Number of bike stopovers       float64
 15  Return temperature (Â°C)       float64
 16  Departure temperature (deg C)  float64
 17  Return temperature (deg C)     float64
dtypes: float64(13), int64(1), object(4)
memory usage: 334.9+ MB

In [115]:
#Remove redundant columns after merge
df.drop(df.columns[[11,12,13,14,15,16,17]], axis = 1 , inplace = True)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438953 entries, 0 to 2438952
Data columns (total 11 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Departure                   object
 1   Return                      object
 2   Bike                        float64
 3   Departure station           object
 4   Return station              object
 5   Covered distance (m)        float64
 6   Duration (sec.)             int64
 7   Departure temperature (°C)  float64
 8   Return temperature (°C)     float64
 9   Stopover duration (sec.)    float64
 10  Number of stopovers         float64
dtypes: float64(6), int64(1), object(4)
memory usage: 204.7+ MB

In [117]:
#Rename Columns to be more understanable
df.columns = ['Departure','Return','Bike','DepartureStation','ReturnStation','Distance','Duration','DepartureTemp','ReturnTemp','StopoverDuration','NumberStopovers']

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438953 entries, 0 to 2438952
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   Departure         object
 1   Return            object
 2   Bike              float64
 3   DepartureStation  object
 4   ReturnStation     object
 5   Distance          float64
 6   Duration          int64
 7   DepartureTemp     float64
 8   ReturnTemp        float64
 9   StopoverDuration  float64
 10  NumberStopovers   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 204.7+ MB

In [119]:
#Review outliers
df.isnull().sum()

Departure              0
Return               122
Bike                1136
DepartureStation       9
ReturnStation        199
Distance               0
Duration               0
DepartureTemp          0
ReturnTemp             0
StopoverDuration       0
NumberStopovers        0
dtype: int64

In [120]:
df = df[df['Return'].notna()]

In [121]:
df = df[df['ReturnStation'].notna()]

In [122]:
df = df[df['DepartureStation'].notna()]

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2438745 entries, 0 to 2438952
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   Departure         object
 1   Return            object
 2   Bike              float64
 3   DepartureStation  object
 4   ReturnStation     object
 5   Distance          float64
 6   Duration          int64
 7   DepartureTemp     float64
 8   ReturnTemp        float64
 9   StopoverDuration  float64
 10  NumberStopovers   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 223.3+ MB

In [124]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Bike,2437630.0,946.187110,2182.029223,0.0,453.0,904.0,1372.0,3278444.00
Distance,2438745.0,2772.680440,2864.605938,0.0,1153.0,2084.0,3495.0,1102833.33
Duration,2438745.0,1305.066615,6861.747798,0.0,394.0,695.0,1200.0,2053636.00
DepartureTemp,2438745.0,18.778020,7.649474,-9.0,13.0,19.0,24.0,48.00
ReturnTemp,2438745.0,19.232912,7.071432,-10.0,14.0,20.0,25.0,47.00
StopoverDuration,2438745.0,77.204089,3366.858218,0.0,0.0,0.0,0.0,2047298.00
NumberStopovers,2438745.0,0.041010,0.300217,0.0,0.0,0.0,0.0,21.00

In [135]:
#Drop data that is more than 8 hours in duration
df = df.loc[df['Duration'] < 28800]

In [136]:
#Drop data that is more than 4 std deviations in distance
df = df.loc[df['Distance'] < 40000]

In [142]:
#Drop data where stopover > 4 hours
df = df.loc[df['StopoverDuration'] < 14400]

In [143]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Bike,2430321.0,946.177580,2185.059324,0.0,453.0,904.0,1372.0,3278444.0
Distance,2431431.0,2763.579753,2630.871598,0.0,1155.0,2084.0,3491.0,39939.0
Duration,2431431.0,1078.831268,1531.815082,0.0,393.0,693.0,1194.0,28799.0
DepartureTemp,2431431.0,18.781729,7.649601,-9.0,13.0,19.0,24.0,48.0
ReturnTemp,2431431.0,19.241595,7.068283,-10.0,14.0,20.0,25.0,47.0
StopoverDuration,2431431.0,29.291314,333.695480,0.0,0.0,0.0,0.0,14366.0
NumberStopovers,2431431.0,0.039683,0.293433,0.0,0.0,0.0,0.0,21.0

In [144]:
#Fix date data
df['Departure']=pd.to_datetime(df.Departure)

In [146]:
df['Return']=pd.to_datetime(df.Return)

In [148]:
df['Departure']=df['Departure'].dt.strftime('%Y-%m-%d %H:%M')
df['Return']=df['Return'].dt.strftime('%Y-%m-%d %H:%M')

In [149]:
df.head()

,Departure,Return,Bike,DepartureStation,ReturnStation,Distance,Duration,DepartureTemp,ReturnTemp,StopoverDuration,NumberStopovers
0,2018-02-01 00:00,2018-02-01 00:00,333.0,0093 Chilco & Robson,0032 Comox & Denman,775.0,184,5.0,6.0,0.0,0.0
1,2018-02-01 00:00,2018-02-01 00:00,378.0,0012 Dunsmuir & Richards,0167 Cordova & Columbia,1245.0,341,6.0,8.0,0.0,0.0
2,2018-02-01 00:00,2018-02-01 00:00,138.0,0014 Canada Place,0140 Burrard & 7th,3979.0,844,6.0,8.0,0.0,0.0
3,2018-02-01 00:00,2018-02-01 00:00,1039.0,0024 Hornby & Pender,0070 10th & Granville,4431.0,995,7.0,9.0,0.0,0.0
4,2018-02-01 00:00,2018-02-01 00:00,289.0,0089 Burrard & Drake,0148 Quebec & Milross,3371.0,823,6.0,8.0,0.0,0.0

In [209]:
len(df.Weekday.unique())

7

In [170]:
#Create columns for month, day, and weekday
df['Month'] = pd.DatetimeIndex(df['Departure']).month
df['Day'] = pd.DatetimeIndex(df['Departure']).day
df['Weekday'] = pd.DatetimeIndex(df['Departure']).weekday

In [238]:
#Create new column for season
doy = pd.DatetimeIndex(df['Departure']).dayofyear
seasons = np.array(['Winter', 'Spring', 'Summer', 'Fall', 'Winter'])
f = np.searchsorted([80, 172, 264, 355], doy)
df['Season'] = seasons[f]

In [250]:
#Determine time of day stamp for departure and return times
b = [0,4,8,12,16,20,24]
l = ['Late Night', 'Early Morning','Morning','Noon','Evening','Night']
df['DepartureToD'] = pd.cut(pd.DatetimeIndex(df['Departure']).hour, bins=b, labels=l, include_lowest=True)
df['ReturnToD'] = pd.cut(pd.DatetimeIndex(df['Return']).hour, bins=b, labels=l, include_lowest=True)

In [252]:
#Ensure data integrity
df.DepartureToD.value_counts()

Evening          776332
Noon             694265
Morning          514526
Early Morning    209484
Night            184543
Late Night        52281
Name: DepartureToD, dtype: int64

In [264]:
#Bring in climate data
climate_df = pd.read_excel('climate.xls')

In [265]:
#Preview climate data
climate_df.head()

  LOCAL_DATE  LOCAL_YEAR  LOCAL_MONTH  LOCAL_DAY  TOTAL_PRECIPITATION
0 2017-01-01        2017            1          1                  0.0
1 2017-01-02        2017            1          2                  0.0
2 2017-01-03        2017            1          3                  0.0
3 2017-01-04        2017            1          4                  0.0
4 2017-01-05        2017            1          5                  0.0

In [266]:
#Convert local date column to date time
climate_df['LOCAL_DATE']=pd.to_datetime(climate_df['LOCAL_DATE'])

In [274]:
#merge precipitation data to bike rental data
cleandf = pd.merge(df, climate_df,how='left', left_on=[pd.DatetimeIndex(df['Departure']).month, pd.DatetimeIndex(df['Departure']).day, pd.DatetimeIndex(df['Departure']).year], right_on=[pd.DatetimeIndex(climate_df['LOCAL_DATE']).month, pd.DatetimeIndex(climate_df['LOCAL_DATE']).day, pd.DatetimeIndex(climate_df['LOCAL_DATE']).year])

In [278]:
#ensure no data was lost
cleandf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2431431 entries, 0 to 2431430
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   key_0                int64
 1   key_1                int64
 2   key_2                int64
 3   Departure            object
 4   Return               object
 5   Bike                 float64
 6   DepartureStation     object
 7   ReturnStation        object
 8   Distance             float64
 9   Duration             int64
 10  DepartureTemp        float64
 11  ReturnTemp           float64
 12  StopoverDuration     float64
 13  NumberStopovers      float64
 14  Month                int64
 15  Day                  int64
 16  Weekday              int64
 17  Season               object
 18  DepartureToD         category
 19  ReturnToD            category
 20  LOCAL_DATE           datetime64[ns]
 21  LOCAL_YEAR           float64
 22  LOCAL_MONTH          float64
 23  LOCAL_DAY            float64
 24  TOTAL_PRECIPITATION  float64
dtypes: category(2), datetime64[ns](1), float64(10), int64(7), object(5)
memory usage: 449.8+ MB

In [279]:
#drop unneeded columns and rename new ones
cleandf.drop(cleandf.columns[[0,1,2,20,21,22,23]], axis = 1 , inplace = True)
cleandf.rename(columns = {'TOTAL_PRECIPITATION':'Precipitation'},inplace=True)

In [281]:
cleandf.describe().T

,count,mean,std,min,25%,50%,75%,max
Bike,2430321.0,946.177580,2185.059324,0.0,453.0,904.0,1372.0,3278444.0
Distance,2431431.0,2763.579753,2630.871598,0.0,1155.0,2084.0,3491.0,39939.0
Duration,2431431.0,1078.831268,1531.815082,0.0,393.0,693.0,1194.0,28799.0
DepartureTemp,2431431.0,18.781729,7.649601,-9.0,13.0,19.0,24.0,48.0
ReturnTemp,2431431.0,19.241595,7.068283,-10.0,14.0,20.0,25.0,47.0
StopoverDuration,2431431.0,29.291314,333.695480,0.0,0.0,0.0,0.0,14366.0
NumberStopovers,2431431.0,0.039683,0.293433,0.0,0.0,0.0,0.0,21.0
Month,2431431.0,6.624665,2.721627,1.0,5.0,7.0,9.0,12.0
Day,2431431.0,15.868998,8.882642,1.0,8.0,16.0,24.0,31.0
Weekday,2431431.0,2.937548,1.971350,0.0,1.0,3.0,5.0,6.0
Precipitation,2276587.0,1.705383,5.131391,0.0,0.0,0.0,0.3,77.5

In [283]:
cleandf['Season'] = cleandf['Season'].astype('category')

In [284]:
cleandf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2431431 entries, 0 to 2431430
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   Departure         object
 1   Return            object
 2   Bike              float64
 3   DepartureStation  object
 4   ReturnStation     object
 5   Distance          float64
 6   Duration          int64
 7   DepartureTemp     float64
 8   ReturnTemp        float64
 9   StopoverDuration  float64
 10  NumberStopovers   float64
 11  Month             int64
 12  Day               int64
 13  Weekday           int64
 14  Season            category
 15  DepartureToD      category
 16  ReturnToD         category
 17  Precipitation     float64
dtypes: category(3), float64(7), int64(4), object(4)
memory usage: 303.8+ MB

In [285]:
cleandf.head()

,Departure,Return,Bike,DepartureStation,ReturnStation,Distance,Duration,DepartureTemp,ReturnTemp,StopoverDuration,NumberStopovers,Month,Day,Weekday,Season,DepartureToD,ReturnToD,Precipitation
0,2018-02-01 00:00,2018-02-01 00:00,333.0,0093 Chilco & Robson,0032 Comox & Denman,775.0,184,5.0,6.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
1,2018-02-01 00:00,2018-02-01 00:00,378.0,0012 Dunsmuir & Richards,0167 Cordova & Columbia,1245.0,341,6.0,8.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
2,2018-02-01 00:00,2018-02-01 00:00,138.0,0014 Canada Place,0140 Burrard & 7th,3979.0,844,6.0,8.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
3,2018-02-01 00:00,2018-02-01 00:00,1039.0,0024 Hornby & Pender,0070 10th & Granville,4431.0,995,7.0,9.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
4,2018-02-01 00:00,2018-02-01 00:00,289.0,0089 Burrard & Drake,0148 Quebec & Milross,3371.0,823,6.0,8.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9

In [287]:
cleandf['Precipitation'].fillna(0)

0           7.9
1           7.9
2           7.9
3           7.9
4           7.9
           ...
2431426    32.7
2431427    32.7
2431428    32.7
2431429    32.7
2431430    32.7
Name: Precipitation, Length: 2431431, dtype: float64

In [288]:
cleandf.reset_index()

,index,Departure,Return,Bike,DepartureStation,ReturnStation,Distance,Duration,DepartureTemp,ReturnTemp,StopoverDuration,NumberStopovers,Month,Day,Weekday,Season,DepartureToD,ReturnToD,Precipitation
0,0,2018-02-01 00:00,2018-02-01 00:00,333.0,0093 Chilco & Robson,0032 Comox & Denman,775.0,184,5.0,6.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
1,1,2018-02-01 00:00,2018-02-01 00:00,378.0,0012 Dunsmuir & Richards,0167 Cordova & Columbia,1245.0,341,6.0,8.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
2,2,2018-02-01 00:00,2018-02-01 00:00,138.0,0014 Canada Place,0140 Burrard & 7th,3979.0,844,6.0,8.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
3,3,2018-02-01 00:00,2018-02-01 00:00,1039.0,0024 Hornby & Pender,0070 10th & Granville,4431.0,995,7.0,9.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
4,4,2018-02-01 00:00,2018-02-01 00:00,289.0,0089 Burrard & Drake,0148 Quebec & Milross,3371.0,823,6.0,8.0,0.0,0.0,2,1,3,Winter,Late Night,Late Night,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431426,2431426,2018-11-01 01:00,2018-11-01 01:00,1872.0,0015 Granville & Georgia,0053 Keefer & Abbott,1231.0,318,13.0,15.0,0.0,0.0,11,1,3,Fall,Late Night,Late Night,32.7
2431427,2431427,2018-11-01 01:00,2018-11-01 01:00,1078.0,0036 Bute & Robson,0048 Comox & Broughton,741.0,249,12.0,13.0,0.0,0.0,11,1,3,Fall,Late Night,Late Night,32.7
2431428,2431428,2018-11-01 00:00,2018-11-01 01:00,833.0,0089 Burrard & Drake,0253 Charles & Woodland,6955.0,1749,12.0,14.0,0.0,0.0,11,1,3,Fall,Late Night,Late Night,32.7
2431429,2431429,2018-11-01 00:00,2018-11-01 00:00,310.0,0071 14th & Granville,0154 Kitsilano Beach Park,3011.0,771,11.0,11.0,0.0,0.0,11,1,3,Fall,Late Night,Late Night,32.7
2431430,2431430,2018-11-01 00:00,2018-11-01 00:00,1288.0,0058 Homer & Smithe,0173 1st & Columbia,2242.0,663,13.0,14.0,0.0,0.0,11,1,3,Fall,Late Night,Late Night,32.7

In [291]:
cleandf.loc[cleandf['Precipitation']>50]

,Departure,Return,Bike,DepartureStation,ReturnStation,Distance,Duration,DepartureTemp,ReturnTemp,StopoverDuration,NumberStopovers,Month,Day,Weekday,Season,DepartureToD,ReturnToD,Precipitation
1671,2018-01-29 23:00,2018-01-29 23:00,1272.0,0063 Robson & Granville,0026 Beatty & Robson,665.0,334,9.0,9.0,0.0,0.0,1,29,0,Winter,Night,Night,51.0
1672,2018-01-29 23:00,2018-01-29 23:00,734.0,0063 Robson & Granville,0026 Beatty & Robson,673.0,347,9.0,9.0,0.0,0.0,1,29,0,Winter,Night,Night,51.0
1673,2018-01-29 23:00,2018-01-29 23:00,1272.0,0063 Robson & Granville,0063 Robson & Granville,0.0,41,9.0,8.0,0.0,0.0,1,29,0,Winter,Night,Night,51.0
1674,2018-01-29 23:00,2018-01-29 23:00,1417.0,0037 Hornby & Nelson,0088 Harwood & Bute,1088.0,276,8.0,9.0,0.0,0.0,1,29,0,Winter,Night,Night,51.0
1675,2018-01-29 23:00,2018-01-29 23:00,677.0,0048 Comox & Broughton,0154 Kitsilano Beach Park,3185.0,586,8.0,11.0,0.0,0.0,1,29,0,Winter,Night,Night,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2397444,2018-11-26 00:00,2018-11-26 00:00,40.0,0123 Georgia & Thurlow,0207 Alberni & Jervis,383.0,132,10.0,12.0,0.0,0.0,11,26,0,Fall,Late Night,Late Night,67.9
2397445,2018-11-26 00:00,2018-11-26 00:00,806.0,0096 Nicola & Robson,0087 Broughton & Burnaby,837.0,494,10.0,11.0,0.0,0.0,11,26,0,Fall,Late Night,Late Night,67.9
2397446,2018-11-26 00:00,2018-11-26 00:00,1169.0,0024 Hornby & Pender,0199 Georgia & Main,1974.0,435,10.0,10.0,0.0,0.0,11,26,0,Fall,Late Night,Late Night,67.9
2397447,2018-11-26 00:00,2018-11-26 00:00,1458.0,0099 Vancouver Art Gallery - North Plaza,0196 Drake & Hornby,998.0,361,10.0,11.0,0.0,0.0,11,26,0,Fall,Late Night,Late Night,67.9
2397448,2018-11-26 00:00,2018-11-26 00:00,2070.0,0069 7th & Granville,0006 Olympic Village Station,1790.0,413,9.0,10.0,0.0,0.0,11,26,0,Fall,Late Night,Late Night,67.9

In [292]:
cleandf.to_csv('CleanBikeData.csv')