In [1]:
#load python packages
import os
import pandas as pd
import numpy as np
import glob

In [2]:
os.getcwd()

'/Users/yanlau/OneDrive/Schooling/Springboard/Capstone 2'

In [3]:
os.listdir()

['.DS_Store',
 'Data Wrangling.ipynb',
 'Models',
 'Figures',
 '.ipynb_checkpoints',
 '.git',
 'Data']

In [4]:
#change working directory to where the data is
path='/Users/yanlau/OneDrive/Schooling/Springboard/Capstone 2/Data'
os.chdir(path)

In [5]:
os.listdir()

['Mobi_System_Data_2018-06.xlsx',
 'Mobi_System_Data_2020-03.csv',
 'Mobi_System_Data_2018-10.xlsx',
 'Mobi_System_Data_2018-12.csv',
 'Mobi_System_Data_2020-02.csv',
 'Mobi_System_Data_2018-04.csv',
 'Mobi_System_Data_2018-05.csv',
 'Mobi_System_Data_2020-01.csv',
 'Mobi_System_Data_2020-05.csv',
 'Mobi_System_Data_2018-01.csv',
 '.DS_Store',
 'Mobi_System_Data_2020-04.csv',
 'Mobi_System_Data_2020-06.csv',
 'Mobi_System_Data_2018-02.csv',
 'Mobi_System_Data_2018-11.xlsx',
 'Mobi_System_Data_2018-03.csv',
 'Mobi_System_Data_2018-07.xlsx',
 'Mobi_System_Data_2017.xlsx',
 'Mobi_System_Data_2019-09.csv',
 'Mobi_System_Data_2019-08.csv',
 'Mobi_System_Data_2019-05.csv',
 'Mobi_System_Data_2019-11.csv',
 'Mobi_System_Data_2019-10.csv',
 'Mobi_System_Data_2019-04.csv',
 'Mobi_System_Data_2019-12.csv',
 'Mobi_System_Data_2019-06.csv',
 'Mobi_System_Data_2019-07.csv',
 'Mobi_System_Data_2019-03.csv',
 'Mobi_System_Data_2019-02.csv',
 'Mobi_System_Data_2019-01.csv',
 'Mobi_System_Data_2018-08.xlsx',
 'Mobi_System_Data_2018-09.xlsx']

In [12]:
#Import the working files
csv_files = glob.glob(path+"/*.csv")
xls_files = glob.glob(path+"/*.xlsx")
dfs = []
for filename in csv_files:
    dfs.append(pd.read_csv(filename))
    
for filename in xls_files:
    dfs.append(pd.read_excel(filename))

df = pd.concat(dfs, ignore_index=True)

In [13]:
#Preview the data
df.head()

,Departure,Return,Bike,Departure station,Return station,Membership type,Covered distance (m),Duration (sec.),Departure battery voltage (mV),Return battery voltage (mV),...,Formula,Departure slot,Return slot,Membership Type,Return temperature (Â°C),Manager,Stopover duration,Departure temperature (deg C),Return temperature (deg C),Account
0,2020-04-01 0:00,2020-04-01 0:00,1654.0,0088 Harwood & Bute,0207 Alberni & Jervis,365 Day Pass Plus SALE,1176.0,294,3831.0,3964.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-31 23:00,2020-04-01 0:00,988.0,0009 Spyglass & Seawall,0173 1st & Columbia,365 Corporate Standard,588.0,187,3919.0,4001.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-31 23:00,2020-03-31 23:00,1925.0,0011 Ontario & Seawall,0010 Stamp's Landing,365 Corporate Standard,1366.0,355,3856.0,4032.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-31 23:00,2020-03-31 23:00,1537.0,0159 Vine & 4th,0187 Bute & Davie,365 Day Pass Standard SALE,3299.0,1064,3934.0,4079.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-31 22:00,2020-03-31 22:00,1991.0,0070 10th & Granville,0068 Cypress & Broadway,365 Plus,782.0,256,3848.0,4000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.shape

(2438953, 27)

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Bike,2437817.0,946.197343,2181.957862,0.0,453.0,904.0,1372.0,3278444.00
Covered distance (m),2438953.0,2772.446458,2864.597138,0.0,1153.0,2084.0,3495.0,1102833.33
Duration (sec.),2438953.0,1309.361593,9108.744835,0.0,393.0,695.0,1200.0,9328692.00
Departure battery voltage (mV),2385432.0,3960.258099,186.242931,0.0,3916.0,3993.0,4045.0,4729.00
Return battery voltage (mV),2385432.0,4085.977420,153.063590,0.0,4032.0,4111.0,4175.0,4710.00
Departure temperature (C),998670.0,17.268387,7.495742,-9.0,11.0,18.0,23.0,47.00
Return temperature (C),998670.0,17.715730,6.951677,-10.0,12.0,18.0,23.0,46.00
Stopover duration (sec.),2376100.0,78.201290,3641.745779,0.0,0.0,0.0,0.0,2068430.00
Number of bike stopovers,175892.0,0.064540,0.437219,0.0,0.0,0.0,0.0,21.00
Number of stopovers,2263061.0,0.039186,0.286868,0.0,0.0,0.0,0.0,13.00
Departure temperature (°C),1401035.0,20.075905,7.514245,-7.0,15.0,21.0,25.0,48.00
Return temperature (°C),1368773.0,20.785294,6.746635,-6.0,16.0,22.0,26.0,47.00
Departure slot,189058.0,10.468909,7.859329,1.0,4.0,9.0,15.0,52.00
Return slot,189325.0,10.568430,8.002455,1.0,4.0,9.0,15.0,52.00
Return temperature (Â°C),32262.0,9.245304,2.144111,0.0,8.0,9.0,11.0,30.00
Stopover duration,62853.0,72.174773,2555.523965,0.0,0.0,0.0,0.0,508364.00
Departure temperature (deg C),39248.0,10.853776,3.178319,-2.0,9.0,11.0,13.0,30.00
Return temperature (deg C),39248.0,11.811659,2.917548,0.0,10.0,12.0,14.0,28.00

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2438953 entries, 0 to 2438952
Data columns (total 27 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Departure                       object
 1   Return                          object
 2   Bike                            float64
 3   Departure station               object
 4   Return station                  object
 5   Membership type                 object
 6   Covered distance (m)            float64
 7   Duration (sec.)                 int64
 8   Departure battery voltage (mV)  float64
 9   Return battery voltage (mV)     float64
 10  Departure temperature (C)       float64
 11  Return temperature (C)          float64
 12  Stopover duration (sec.)        float64
 13  Number of bike stopovers        float64
 14  Number of stopovers             float64
 15  Departure temperature (°C)      float64
 16  Return temperature (°C)         float64
 17  Formula                         object
 18  Departure slot                  float64
 19  Return slot                     float64
 20  Membership Type                 object
 21  Return temperature (Â°C)        float64
 22  Manager                         object
 23  Stopover duration               float64
 24  Departure temperature (deg C)   float64
 25  Return temperature (deg C)      float64
 26  Account                         object
dtypes: float64(17), int64(1), object(9)
memory usage: 502.4+ MB

In [18]:
df.columns.values[5] = "Memtype"
df.columns.values[20] = "Memtype"
df.columns.values[6] = "Distance"
df.columns.values[7] = "Duration"
df.columns.values[8] = "DepBattVolt"
df.columns.values[9] = "RetBattVolt"
df.columns.values[10] = "DepTemp"
df.columns.values[11] = "RetTemp"
df.columns.values[12] = "StopoverDur"
df.columns.values[13] = "NumStopover"
df.columns.values[14] = "NumStopover"
df.columns.values[15] = "DepTemp"
df.columns.values[16] = "RetTemp"
df.columns.values[21] = "RetTemp"
df.columns.values[23] = "StopoverDur"
df.columns.values[24] = "DepTemp"
df.columns.values[25] = "RetTemp"

In [19]:
#Look at the data available
s = df.stack()

In [20]:
df = s.unstack()

In [25]:
df.describe().T

,count,unique,top,freq
Departure,2438953,51980,8/6/2019 17:00,590
Return,2438831,51789,7/8/2019 18:00,607
Bike,2.43782e+06,2101,62,1942
Departure station,2438944,247,0209 Stanley Park - Information Booth,61892
Return station,2438754,249,0209 Stanley Park - Information Booth,58168
Memtype,2069119,26,24 Hour,456180
Distance,2.43895e+06,13359,0,107402
Duration,2438953,24506,17,20604
DepBattVolt,2.38543e+06,816,4032,35130
RetBattVolt,2.38543e+06,840,4098,19849
DepTemp,998670,57,20,53243
RetTemp,998670,55,21,56524
StopoverDur,2.3761e+06,8124,0,2.30883e+06
NumStopover,175892,14,0,169443
NumStopover,2.26306e+06,14,0,2.20012e+06
DepTemp,1.40104e+06,56,23,77820
RetTemp,1.36877e+06,54,23,87763
Formula,20391,12,365 Standard,3562
Departure slot,189058,52,1,16475
Return slot,189325,52,1,16783
Memtype,349012,18,24 Hour,106212
RetTemp,32262,28,10,5856
Manager,126470,1,False,126470
StopoverDur,62853,1299,0,60745
DepTemp,39248,33,10,5730
RetTemp,39248,29,12,5882
Account,573444,36946,ID00157,1676

In [10]:
#look for nulls and empty cells
rawdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Seat comfort                       129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Food and drink                     129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Inflight wifi service              129880 non-null  int64
 13  Inflight entertainment             129880 non-null  int64
 14  Online support                     129880 non-null  int64
 15  Ease of Online booking             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Cleanliness                        129880 non-null  int64
 21  Online boarding                    129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [11]:
rawdata.describe().T

,count,mean,std,min,25%,50%,75%,max
id,129880.0,64940.500000,37493.270818,1.0,32470.75,64940.5,97410.25,129880.0
Age,129880.0,39.427957,15.119360,7.0,27.00,40.0,51.00,85.0
Flight Distance,129880.0,1981.409055,1027.115606,50.0,1359.00,1925.0,2544.00,6951.0
Seat comfort,129880.0,2.838597,1.392983,0.0,2.00,3.0,4.00,5.0
Departure/Arrival time convenient,129880.0,2.990645,1.527224,0.0,2.00,3.0,4.00,5.0
Food and drink,129880.0,2.851994,1.443729,0.0,2.00,3.0,4.00,5.0
Gate location,129880.0,2.990422,1.305970,0.0,2.00,3.0,4.00,5.0
Inflight wifi service,129880.0,3.249130,1.318818,0.0,2.00,3.0,4.00,5.0
Inflight entertainment,129880.0,3.383477,1.346059,0.0,2.00,4.0,4.00,5.0
Online support,129880.0,3.519703,1.306511,0.0,3.00,4.0,5.00,5.0
Ease of Online booking,129880.0,3.472105,1.305560,0.0,2.00,4.0,5.00,5.0
On-board service,129880.0,3.465075,1.270836,0.0,3.00,4.0,4.00,5.0
Leg room service,129880.0,3.485902,1.292226,0.0,2.00,4.0,5.00,5.0
Baggage handling,129880.0,3.695673,1.156483,1.0,3.00,4.0,5.00,5.0
Checkin service,129880.0,3.340807,1.260582,0.0,3.00,3.0,4.00,5.0
Cleanliness,129880.0,3.705759,1.151774,0.0,3.00,4.0,5.00,5.0
Online boarding,129880.0,3.352587,1.298715,0.0,2.00,4.0,4.00,5.0
Departure Delay in Minutes,129880.0,14.713713,38.071126,0.0,0.00,0.0,12.00,1592.0
Arrival Delay in Minutes,129487.0,15.091129,38.465650,0.0,0.00,0.0,13.00,1584.0

In [47]:
#We will assume that 0 scores indicate that the users did not reply to this metric. 
#We need to replace those values with more useful data
#First I need to replace all 0s with NaN
newdata = rawdata.iloc[:,8:22].replace(0, np.nan)
rawdata.iloc[:,8:22] = newdata

In [76]:
rawdata.describe().T

,count,mean,std,min,25%,50%,75%,max
id,129880.0,64940.500000,37493.270818,1.0,32470.75,64940.5,97410.25,129880.0
Age,129880.0,39.427957,15.119360,7.0,27.00,40.0,51.00,85.0
Flight Distance,129880.0,1981.409055,1027.115606,50.0,1359.00,1925.0,2544.00,6951.0
Seat comfort,125083.0,2.947459,1.301518,1.0,2.00,3.0,4.00,5.0
Departure/Arrival time convenient,123216.0,3.152391,1.395948,1.0,2.00,3.0,4.00,5.0
Food and drink,123935.0,2.988801,1.332460,1.0,2.00,3.0,4.00,5.0
Gate location,129878.0,2.990468,1.305927,1.0,2.00,3.0,4.00,5.0
Inflight wifi service,129748.0,3.252435,1.315408,1.0,2.00,3.0,4.00,5.0
Inflight entertainment,126902.0,3.462877,1.256758,1.0,3.00,4.0,4.00,5.0
Online support,129879.0,3.519730,1.306479,1.0,3.00,4.0,5.00,5.0
Ease of Online booking,129862.0,3.472586,1.305010,1.0,2.00,4.0,5.00,5.0
On-board service,129875.0,3.465209,1.270678,1.0,3.00,4.0,4.00,5.0
Leg room service,129436.0,3.497860,1.278182,1.0,2.00,4.0,5.00,5.0
Baggage handling,129880.0,3.695673,1.156483,1.0,3.00,4.0,5.00,5.0
Checkin service,129879.0,3.340833,1.260553,1.0,3.00,3.0,4.00,5.0
Cleanliness,129875.0,3.705902,1.151567,1.0,3.00,4.0,5.00,5.0
Online boarding,129866.0,3.352948,1.298318,1.0,2.00,4.0,4.00,5.0
Departure Delay in Minutes,129880.0,14.713713,38.071126,0.0,0.00,0.0,12.00,1592.0
Arrival Delay in Minutes,129487.0,15.091129,38.465650,0.0,0.00,0.0,13.00,1584.0

In [49]:
#Explore data
print(len(rawdata.loc[rawdata['Age'] < 18]['Age'].values))
print(np.unique(rawdata['Class'].values))
print(np.unique(rawdata['Gender'].values))
print(np.unique(rawdata['Type of Travel'].values))
print(np.unique(rawdata['Customer Type'].values))
print(len(rawdata.loc[rawdata['Departure Delay in Minutes'] > 60]['Departure Delay in Minutes'].values))
print(len(rawdata.loc[rawdata['Arrival Delay in Minutes'] > 60]['Arrival Delay in Minutes'].values))

9847
['Business' 'Eco' 'Eco Plus']
['Female' 'Male']
['Business travel' 'Personal Travel']
['Loyal Customer' 'disloyal Customer']
8975
9088

In [50]:
#Bin age groups
bins = [0,18, 30, 40, 50, 60, 70, 120]
labels = ['<18','18-30', '30-39', '40-49', '50-59', '60-69', '70+']
rawdata['agerange'] = pd.cut(rawdata.Age, bins, labels = labels,include_lowest = True)

In [51]:
rawdata.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,agerange
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,NaN,NaN,...,3.0,3.0,NaN,3,5.0,3.0,2.0,0,0.0,60-69
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,NaN,NaN,...,3.0,4.0,4.0,4,2.0,3.0,2.0,310,305.0,40-49
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,NaN,NaN,...,2.0,3.0,3.0,4,4.0,4.0,2.0,0,0.0,<18
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,NaN,NaN,...,1.0,1.0,NaN,1,4.0,1.0,3.0,0,0.0,50-59
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,NaN,NaN,...,2.0,2.0,NaN,2,4.0,2.0,5.0,0,0.0,60-69

In [75]:
#Replace class dependent survey areas with median
rawdata.groupby("Class")['Seat comfort'].transform(lambda x: x.fillna(np.mean(x), inplace=True))
#rawdata['Food and drink'] = rawdata.groupby("Class")['Food and drink'].transform(lambda x: x.fillna(np.median(x)))
#rawdata['Leg room service'] = rawdata.groupby("Class")['Leg room service'].transform(lambda x: x.fillna(np.median(x)))
#rawdata['Checkin service'] = rawdata.groupby("Class")['Checkin service'].transform(lambda x: x.fillna(np.median(x)))
#rawdata['On-board service'] = rawdata.groupby("Class")['On-board service'].transform(lambda x: x.fillna(np.median(x)))
#rawdata['Baggage handling'] = rawdata.groupby("Class")['Baggage handling'].transform(lambda x: x.fillna(np.median(x)))

129880

In [55]:
#Replace age range dependent survey areas with median
rawdata['Online support'] = rawdata.groupby("agerange")['Online support'].transform(lambda x: x.fillna(np.median(x)))
rawdata['Ease of Online booking'] = rawdata.groupby("agerange")['Ease of Online booking'].transform(lambda x: x.fillna(np.median(x)))
rawdata['Online boarding'] = rawdata.groupby("agerange")['Online boarding'].transform(lambda x: x.fillna(np.median(x)))
rawdata['Inflight wifi service'] = rawdata.groupby("agerange")['Inflight wifi service'].transform(lambda x: x.fillna(np.median(x)))
rawdata['Inflight entertainment'] = rawdata.groupby("agerange")['Inflight entertainment'].transform(lambda x: x.fillna(np.median(x)))

In [56]:
#Replace type of travel dependent survey areas with median
rawdata['Departure/Arrival time convenient'] = rawdata.groupby("Type of Travel")['Departure/Arrival time convenient'].transform(lambda x: x.fillna(np.median(x)))
rawdata['Gate location'] = rawdata.groupby("Type of Travel")['Gate location'].transform(lambda x: x.fillna(np.median(x)))

In [59]:
#Replace non dependent survey areas with median
rawdata['Cleanliness'].fillna(np.median(rawdata['Cleanliness']), inplace = True)

In [62]:
rawdata.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,agerange
0,11112,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,NaN,NaN,...,3.0,3.0,NaN,3,5.0,3.0,2.0,0,0.0,60-69
1,110278,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,NaN,NaN,...,3.0,4.0,4.0,4,2.0,3.0,2.0,310,305.0,40-49
2,103199,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,NaN,NaN,...,2.0,3.0,3.0,4,4.0,4.0,2.0,0,0.0,<18
3,47462,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,NaN,NaN,...,1.0,1.0,NaN,1,4.0,1.0,3.0,0,0.0,50-59
4,120011,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,NaN,NaN,...,2.0,2.0,NaN,2,4.0,2.0,5.0,0,0.0,60-69

In [28]:
len(rawdata.loc[(rawdata['Checkin service'] == 0)])

1

In [45]:
#Drop rows that contain no ratings data
to_drop = rawdata[(rawdata['Seat comfort'] == 0) | (rawdata['Gate location'] == 0)| (rawdata['Departure/Arrival time convenient'] == 0) |(rawdata['Food and drink'] == 0)|(rawdata['Gate location'] == 0) |(rawdata['Inflight wifi service'] == 0) | (rawdata['Inflight entertainment'] == 0)| (rawdata['Online support'] == 0) | (rawdata['Ease of Online booking'] == 0) | (rawdata['On-board service'] == 0) | (rawdata['Leg room service'] == 0)|(rawdata['Checkin service'] == 0)|(rawdata['Cleanliness'] == 0) | (rawdata['Online boarding'] == 0)].index

In [46]:
len(to_drop)

10269

In [47]:
clean_data = rawdata.drop(to_drop)

In [48]:
clean_data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,119611.0,65271.415188,37395.120527,1.0,32993.5,65535.0,97605.5,129880.0
Age,119611.0,39.856201,15.028974,7.0,28.0,40.0,51.0,85.0
Flight Distance,119611.0,1995.178194,1038.260577,50.0,1359.0,1941.0,2571.0,6951.0
Seat comfort,119611.0,2.950632,1.297781,1.0,2.0,3.0,4.0,5.0
Departure/Arrival time convenient,119611.0,3.133081,1.395184,1.0,2.0,3.0,4.0,5.0
Food and drink,119611.0,2.987627,1.331142,1.0,2.0,3.0,4.0,5.0
Gate location,119611.0,3.001739,1.311266,1.0,2.0,3.0,4.0,5.0
Inflight wifi service,119611.0,3.260720,1.312123,1.0,2.0,3.0,4.0,5.0
Inflight entertainment,119611.0,3.467189,1.251535,1.0,3.0,4.0,4.0,5.0
Online support,119611.0,3.539541,1.297151,1.0,3.0,4.0,5.0,5.0
Ease of Online booking,119611.0,3.504577,1.293854,1.0,3.0,4.0,5.0,5.0
On-board service,119611.0,3.476729,1.267176,1.0,3.0,4.0,4.0,5.0
Leg room service,119611.0,3.522845,1.269320,1.0,3.0,4.0,5.0,5.0
Baggage handling,119611.0,3.709157,1.139982,1.0,3.0,4.0,5.0,5.0
Checkin service,119611.0,3.332127,1.260170,1.0,3.0,3.0,4.0,5.0
Cleanliness,119611.0,3.717877,1.137194,1.0,3.0,4.0,5.0,5.0
Online boarding,119611.0,3.364992,1.294075,1.0,2.0,4.0,4.0,5.0
Departure Delay in Minutes,119611.0,14.896749,38.303124,0.0,0.0,0.0,13.0,1592.0
Arrival Delay in Minutes,119255.0,15.273758,38.679817,0.0,0.0,0.0,13.0,1584.0

In [49]:
clean_data.to_csv('CleansedSatisfaction.csv')